<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageSpecialist - Skeeller srl. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MSP_NotifierTemplate::template"
             title="Templates"
             translate="title"
             module="MSP_NotifierTemplate"
             action="msp_notifier_template/databasetemplate/index"
             sortOrder="60"
             parent="MSP_Notifier::notifier"
             resource="MSP_NotifierTemplate::template" />
    </menu>
</config>