<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div>
    <form autocomplete="off">
        <fieldset class="admin__fieldset">
            <legend class="admin__legend">
                <span data-bind='i18n: "2FA - Authy"'></span>
            </legend><br/>

            <h3 data-bind='i18n: "Please register yourself to Authy"'></h3>

            <div class="admin__field _required field-tfa_phone_prefix">
                <label for="tfa_authy_country" class="admin__field-label">
                    <span data-bind='i18n: "Country"'></span>
                </label>
                <div class="admin__field-control">
                    <select
                            enable="!waitText()"
                            id="tfa_authy_country"
                            class="admin__control-select"
                            data-bind="value: country, foreach: getCountries()">

                        <option data-bind="value: dial_code, text: name"></option>
                    </select>
                </div>
            </div>

            <div class="admin__field _required field-tfa_phone">
                <label for="tfa_authy_phone" class="admin__field-label">
                    <span data-bind='i18n: "Phone number"'></span>
                </label>
                <div class="admin__field-control">
                    <input
                            data-bind='value: phone, enable: !waitText()'
                            id="tfa_authy_phone"
                            class="admin__control-text"
                            type="text"
                            autofocus
                            placeholder="Phone number"/>
                </div>
            </div>

            <div class="admin__field _required field-tfa_method">
                <label for="tfa_authy_phone_action" class="admin__field-label">
                    <span data-bind='i18n: "Verification method"'></span>
                </label>
                <div class="admin__field-control">
                    <select
                            enable="!waitText()"
                            data-bind='value: method'
                            id="tfa_authy_phone_action"
                            class="admin__control-select">

                        <option value="sms" selected data-bind='i18n: "Send me an SMS"'></option>
                        <option value="call" data-bind='i18n: "Call me"'></option>
                    </select>
                </div>
            </div>

            <div class="form-actions">
                <div class="actions">
                    <button
                            enable="!waitText()"
                            click="doRegister"
                            class="action-login action-primary">
                        <span data-bind='i18n: waitText() ? waitText() : "Continue"'></span>
                    </button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
