<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Adapters pool -->
    <type name="Magento\NotifierApi\Model\AdaptersPool">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="event_bridge" xsi:type="object">Magento\NotifierEventBridgeAdapter\Model\Adapter\EventBridge</item>
            </argument>
        </arguments>
    </type>

    <!-- EventBridge adapter -->
    <virtualType name="Magento\NotifierEventBridgeAdapter\Model\Adapter\EventBridge" type="Magento\NotifierApi\Model\Adapter">
        <arguments>
            <argument name="engine"
                      xsi:type="object">Magento\NotifierEventBridgeAdapter\Model\AdapterEngine\EventBridge</argument>
            <argument name="adapterValidator"
                      xsi:type="object">Magento\NotifierEventBridgeAdapter\Model\AdapterEngine\ValidatorChain\EventBridge</argument>
            <argument name="code" xsi:type="string">event_bridge</argument>
            <argument name="description" xsi:type="string">Amazon Event Bridge</argument>
        </arguments>
    </virtualType>

    <!-- EventBridge validators -->
    <virtualType name="Magento\NotifierEventBridgeAdapter\Model\AdapterEngine\ParamsValidator\EventBridge\Required"
                 type="Magento\NotifierApi\Model\AdapterEngine\ParamsValidator\Required">
        <arguments>
            <argument name="requiredParams" xsi:type="array">
                <item name="api_version" xsi:type="string">api_version</item>
                <item name="api_key" xsi:type="string">api_key</item>
                <item name="api_secret" xsi:type="string">api_secret</item>
                <item name="region" xsi:type="string">region</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- EventBridge validators pool -->
    <virtualType name="Magento\NotifierEventBridgeAdapter\Model\AdapterEngine\ValidatorChain\EventBridge"
                 type="Magento\NotifierApi\Model\AdapterEngine\AdapterValidator">
        <arguments>
            <argument name="messageValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">Magento\NotifierApi\Model\AdapterEngine\MessageValidator\Required</item>
            </argument>
            <argument name="paramsValidators" xsi:type="array">
                <item name="required"
                      xsi:type="object">Magento\NotifierEventBridgeAdapter\Model\AdapterEngine\ParamsValidator\EventBridge\Required</item>
            </argument>
        </arguments>
    </virtualType>
</config>
