<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ReCaptchaUi\Model\RequestHandlerInterface" type="Magento\ReCaptchaUi\Model\RequestHandler"/>
    <preference for="Magento\ReCaptchaUi\Model\CaptchaResponseResolverInterface" type="Magento\ReCaptchaUi\Model\CaptchaResponseResolver"/>
    <preference for="Magento\ReCaptchaUi\Model\IsCaptchaEnabledInterface" type="Magento\ReCaptchaUi\Model\IsCaptchaEnabled"/>
    <preference for="Magento\ReCaptchaUi\Model\UiConfigResolverInterface" type="Magento\ReCaptchaUi\Model\UiConfigResolver"/>
    <preference for="Magento\ReCaptchaUi\Model\ValidationConfigResolverInterface" type="Magento\ReCaptchaUi\Model\ValidationConfigResolver"/>
    <preference for="Magento\ReCaptchaUi\Model\CaptchaTypeResolverInterface" type="Magento\ReCaptchaUi\Model\CaptchaTypeResolver"/>
</config>
