<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\TwoFactorAuth\Api\U2fKeyConfigReaderInterface" type="Magento\TwoFactorAuth\Model\Provider\Engine\U2fKey\WebApiConfigReader"/>

    <type name="Magento\TwoFactorAuth\Model\EmailUserNotifier">
        <arguments>
            <argument name="userNotifierConfig" xsi:type="object">Magento\TwoFactorAuth\Model\Config\WebApiUserNotifier</argument>
        </arguments>
    </type>
</config>
