/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.tfa-authy-actions-list button span {
    display: block;
}

.tfa-authy-actions-list button {
    display: block;
    width: 100%;
    margin-bottom: .8em !important;
}

.tfa-authy-switch-method {
    height: 2em;
    line-height: 2em;
}

.tfa-authy-switch-method::after {
    clear: both;
}

.tfa-authy-one-touch,
.tfa-authy-login {
    height: 115px;
    text-align: center;
    background: #f0f0f0;
    padding: 1em;
}

.tfa-authy-one-touch img,
.tfa-authy-login img {
    width: 64px;
}
