/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

#duo_iframe {
    width: 100%;
    min-width: 304px;
    max-width: 620px;
    height: 330px;
    background: transparent;
    border: 0;
    margin-bottom: 1em;
}

.page-layout-admin-login .page-wrapper {
    max-width: 50rem;
}
