/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

.login-content > li {
    list-style: none;
}
.tfa-logout-link {
    position: absolute;
    top: 1em;
    right: 1em;
}
