<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageSpecialist - Skeeller srl. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\NotifierApi\Model\AdapterEngine\AdapterValidatorInterface"
                type="Magento\NotifierApi\Model\AdapterEngine\AdapterValidator"/>

    <preference for="Magento\NotifierApi\Model\Channel\Validator\ValidateChannelInterface"
                type="Magento\NotifierApi\Model\Channel\Validator\ValidateChannel"/>

    <preference for="Magento\NotifierApi\Api\AdaptersPoolInterface"
                type="Magento\NotifierApi\Model\AdaptersPool" />
</config>
