<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageSpecialist - Skeeller srl. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Set sensitive information -->
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="environment" xsi:type="array">
                <item name="msp_notifier_security/events/admin_login_failure" xsi:type="string">1</item>
                <item name="msp_notifier_security/events/admin_configuration_changed" xsi:type="string">1</item>
                <item name="msp_notifier_security/events/admin_new_user" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <type name="MSP\NotifierSecurity\Model\NotifyByEvent">
        <arguments>
            <argument name="notifierByEvent" xsi:type="array">
                <item name="backend_auth_user_login_failed"
                      xsi:type="object">MSP\NotifierSecurity\Model\NotifyByEvent\LoginFailure</item>
                <item name="controller_action_predispatch_adminhtml_system_config_save"
                      xsi:type="object">MSP\NotifierSecurity\Model\NotifyByEvent\AdminConfigSave</item>
                <item name="admin_user_save_commit_after"
                      xsi:type="object">MSP\NotifierSecurity\Model\NotifyByEvent\AdminUserSave</item>
                <item name="controller_action_predispatch_adminhtml_auth_forgotpassword"
                      xsi:type="object">MSP\NotifierSecurity\Model\NotifyByEvent\AdminForgotPassword</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MSP\NotifierSecurity\Model\NotifyByEvent\LoginFailure"
                 type="MSP\NotifierSecurity\Model\NotifyByEvent\NotifyByConfig">
        <arguments>
            <argument name="channelConfigPath" xsi:type="string">msp_notifier_security/events/admin_login_failure</argument>
            <argument name="template" xsi:type="string">security_admin_login_failure</argument>
        </arguments>
    </virtualType>
    <virtualType name="MSP\NotifierSecurity\Model\NotifyByEvent\AdminConfigSave"
                 type="MSP\NotifierSecurity\Model\NotifyByEvent\NotifyByConfig">
        <arguments>
            <argument name="channelConfigPath" xsi:type="string">msp_notifier_security/events/admin_configuration_changed</argument>
            <argument name="template" xsi:type="string">security_admin_configuration_changed</argument>
        </arguments>
    </virtualType>
    <type name="MSP\NotifierSecurity\Model\NotifyByEvent\AdminForgotPassword">
        <arguments>
            <argument name="channelConfigPath" xsi:type="string">msp_notifier_security/events/admin_forgot_password</argument>
            <argument name="template" xsi:type="string">security_admin_forgot_password</argument>
        </arguments>
    </type>
    <type name="MSP\NotifierSecurity\Model\NotifyByEvent\AdminUserSave">
        <arguments>
            <argument name="channelConfigPathExisting" xsi:type="string">msp_notifier_security/events/admin_user_changed</argument>
            <argument name="channelConfigPathNew" xsi:type="string">msp_notifier_security/events/admin_new_user</argument>
            <argument name="templateExisting" xsi:type="string">security_admin_user_changed</argument>
            <argument name="templateNew" xsi:type="string">security_admin_user_new</argument>
        </arguments>
    </type>
</config>
