<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <twofactorauth>
            <general>
                <force_providers></force_providers>
            </general>
            <authy>
                <onetouch_message>Login request to your Magento Admin</onetouch_message>
                <api_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </authy>
            <duo>
                <secret_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <application_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </duo>
            <google>
                <otp_window>30</otp_window>
            </google>
        </twofactorauth>
    </default>
</config>
