<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <twofactorauth>
            <general>
                <enabled>0</enabled>
                <force_providers></force_providers>
            </general>
            <google>
                <allow_trusted_devices>1</allow_trusted_devices>
            </google>
            <authy>
                <allow_trusted_devices>1</allow_trusted_devices>
                <onetouch_message>Login request to your Magento Admin</onetouch_message>
            </authy>
            <u2fkey>
                <allow_trusted_devices>1</allow_trusted_devices>
            </u2fkey>
        </twofactorauth>
    </default>
</config>
