<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="recaptcha" xsi:type="object">\Magento\ReCaptcha\Block\LayoutProcessor\Checkout\Onepage</item>
            </argument>
        </arguments>
    </type>

    <!-- User login -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\LoginObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\BeforeAuthUrlProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\Login"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_login</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\LoginObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\Login</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\LoginObserver</argument>
        </arguments>
    </virtualType>

    <!-- Forgot password -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ForgotPassword"
                 type="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\SimpleUrlProvider">
        <arguments>
            <argument name="urlPath" xsi:type="string">*/*/forgotpassword</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ForgotPassword</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ForgotPassword"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_forgot</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\ForgotPasswordObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ForgotPassword</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver</argument>
        </arguments>
    </virtualType>

    <!-- Create User -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\CreateUser"
                 type="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\SimpleUrlProvider">
        <arguments>
            <argument name="urlPath" xsi:type="string">*/*/create</argument>
            <argument name="urlParams" xsi:type="array">
                <item name="_secure" xsi:type="boolean">true</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\CreateUserObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\CreateUser</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\CreateUser"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_create</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\CreateUserObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\CreateUser</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\CreateUserObserver</argument>
        </arguments>
    </virtualType>

    <!-- Contact Form -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ContactForm"
                 type="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\SimpleUrlProvider">
        <arguments>
            <argument name="urlPath" xsi:type="string">contact/index/index</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\ContactFormObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ContactForm</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ContactForm"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_contact</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\ContactFormObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ContactForm</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\ContactFormObserver</argument>
        </arguments>
    </virtualType>

    <!-- AjaxLogin Form -->
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\AjaxLoginObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\Login</argument>
            <argument name="responseProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Response\AjaxResponseProvider</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\AjaxResponseFailure</argument>
        </arguments>
    </virtualType>

    <type name="Magento\Customer\Block\Account\AuthenticationPopup">
        <plugin sortOrder="1" name="inject_recaptcha_in_authentication_popup"
                type="Magento\ReCaptcha\Plugin\Block\Account\InjectRecaptchaInAuthenticationPopup"/>
    </type>

    <!-- Send to Friend Form -->
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\SendFriendObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\SendFriendForm</argument>
            <argument name="responseProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Response\DefaultResponseProvider</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\SendFriendObserver</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\SendFriendForm"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_sendfriend</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\SendFriendObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ReferrerUrlProvider</argument>
        </arguments>
    </virtualType>

    <!-- Review Form -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\ReviewFormObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\RefererProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ReviewForm"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_review</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\ReviewFormObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\ReviewForm</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\ReviewFormObserver</argument>
        </arguments>
    </virtualType>

    <!-- Newsletter -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\Newsletter"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="enableConfigFlag"
                      xsi:type="string">recaptcha/frontend/enabled_newsletter</argument>
            <argument name="area" xsi:type="string">frontend</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\NewsletterObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ReferrerUrlProvider</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Frontend\NewsletterObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Frontend\Newsletter</argument>
            <argument name="responseProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Response\DefaultResponseProvider</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\NewsletterObserver</argument>
        </arguments>
    </virtualType>
</config>
