<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="controller_action_predispatch_customer_account_loginPost">
        <observer name="recaptcha_on_login" instance="Magento\ReCaptcha\Observer\Frontend\LoginObserver" />
    </event>
    <event name="controller_action_predispatch_customer_ajax_login">
        <observer name="recaptcha_on_ajax_login" instance="Magento\ReCaptcha\Observer\Frontend\AjaxLoginObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_createpost">
        <observer name="recaptcha_on_create_user" instance="Magento\ReCaptcha\Observer\Frontend\CreateUserObserver" />
    </event>
    <event name="controller_action_predispatch_customer_account_forgotpasswordpost">
        <observer name="recaptcha_on_forgot_password" instance="Magento\ReCaptcha\Observer\Frontend\ForgotPasswordObserver"/>
    </event>
    <event name="controller_action_predispatch_contact_index_post">
        <observer name="recaptcha_on_contact_form" instance="Magento\ReCaptcha\Observer\Frontend\ContactFormObserver" />
    </event>
    <event name="controller_action_predispatch_review_product_post">
        <observer name="recaptcha_on_review_form" instance="Magento\ReCaptcha\Observer\Frontend\ReviewFormObserver" />
    </event>
    <event name="controller_action_predispatch_newsletter_subscriber_new">
        <observer name="recaptcha_on_newsletter" instance="Magento\ReCaptcha\Observer\Frontend\NewsletterObserver" />
    </event>
    <event name="controller_action_predispatch_sendfriend_product_sendmail">
        <observer name="recaptcha_on_send_to_a_friend" instance="Magento\ReCaptcha\Observer\Frontend\SendFriendObserver" />
    </event>
</config>
