
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptchaWebapiApi\Model\CompositeWebapiValidationConfigProvider">
        <arguments>
            <argument name="providers" xsi:type="array">
                <item name="payflowpro" xsi:type="object">Magento\ReCaptchaPaypal\Model\WebapiConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaPaypal\Model\ReCaptchaSession">
        <arguments>
            <argument name="transparentSession" xsi:type="object">Magento\Framework\Session\Generic\Proxy</argument>
            <argument name="checkoutSession" xsi:type="object">Magento\Checkout\Model\Session\Proxy</argument>
        </arguments>
    </type>
</config>
