<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © MageSpecialist - Skeeller srl. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::system">
                    <resource id="MSP_NotifierApi::notifier">
                        <resource id="MSP_NotifierTemplateApi::general"
                                  title="Messages template"
                                  translate="title"
                                  sortOrder="40">
                            <resource id="MSP_NotifierTemplateApi::template"
                                      title="Template"
                                      translate="title"
                                      sortOrder="10">
                                <resource id="MSP_NotifierTemplateApi::template_edit"
                                          title="Edit"
                                          translate="title"
                                          sortOrder="10" />
                            </resource>
                            <resource id="MSP_NotifierTemplateApi::send"
                                      title="Send messages"
                                      translate="title"
                                      sortOrder="10" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
