<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Channel grid: START -->
    <virtualType name="Magento\NotifierAdminUi\Ui\DataProvider\ChannelFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magento_notifier_channel_data_source"
                      xsi:type="string">Magento\NotifierAdminUi\Model\ResourceModel\UI\Channel\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierAdminUi\Model\ResourceModel\UI\Channel\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">notifier_channel</argument>
            <argument name="resourceModel"
                      xsi:type="string">Magento\Notifier\Model\ResourceModel\Channel\Collection</argument>
        </arguments>
    </virtualType>
    <!-- Channel grid: END -->

    <type name="Magento\NotifierAdminUi\Ui\DataProvider\Form\ChannelDataProvider">
        <arguments>
            <argument name="modifierPool"
                      xsi:type="object">Magento\NotifierAdminUi\Ui\DataProvider\Form\Channel\Modifier\Pool</argument>
        </arguments>
    </type>

    <type name="Magento\NotifierAdminUi\Ui\DataProvider\Listing\ChannelDataProvider">
        <arguments>
            <argument name="modifierPool"
                      xsi:type="object">Magento\NotifierAdminUi\Ui\DataProvider\Listing\Channel\Modifier\Pool</argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierAdminUi\Ui\DataProvider\Form\Channel\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">

        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="configuration" xsi:type="array">
                    <item name="class"
                          xsi:type="string">Magento\NotifierAdminUi\Ui\DataProvider\Form\Channel\Modifier\Configuration</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="Magento\NotifierAdminUi\Ui\DataProvider\Listing\Channel\Modifier\Pool"
                 type="Magento\Ui\DataProvider\Modifier\Pool">

        <arguments>
            <argument name="modifiers" xsi:type="array">

            </argument>
        </arguments>
    </virtualType>
</config>
