<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="security" translate="label" sortOrder="200">
            <label>Security</label>
        </tab>

        <section id="twofactorauth" translate="label" type="text" sortOrder="500" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>2FA</label>
            <tab>security</tab>
            <resource>Magento_TwoFactorAuth::config</resource>

            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>General</label>
                <field canRestore="1" id="force_providers" translate="label" type="multiselect" sortOrder="30"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Providers to use</label>
                    <source_model>Magento\TwoFactorAuth\Model\Config\Source\Provider</source_model>
                    <frontend_model>Magento\TwoFactorAuth\Block\Adminhtml\System\Config\Providers</frontend_model>
                    <comment>Two-factor authorization providers for admin users to use during login</comment>
                    <backend_model>Magento\TwoFactorAuth\Model\Config\Backend\ForceProviders</backend_model>
                </field>
                <field canRestore="1" id="webapi_notification_url" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configuration Email URL for Web API</label>
                    <comment>This can be used to override the default email configuration link that is sent when using the Magento Web API's to authenticate. Use the placeholder :tfat to indicate where the token should be injected</comment>
                </field>
                <field canRestore="1" id="twofactorauth_retry" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configuration for TwoFactorAuth retry attempts</label>
                    <comment>Security configurations for TwoFactorAuth page.</comment>
                </field>
                <field canRestore="1" id="auth_lock_expire" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Configuration for TwoFactorAuth lock expire time</label>
                    <comment>TwoFactorAuth Configuration.</comment>
                </field>
            </group>
            <group id="google" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Google</label>
                <field id="otp_window" translate="label comment" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>OTP Window</label>
                    <comment>This sets the time drift leeway for OTPs. A leeway of 29 with a period of 30 means OTPs are valid within ±29 seconds from the current time. The leeway must be smaller than the period.</comment>
                    <backend_model>Magento\TwoFactorAuth\Model\Config\Backend\OtpWindow</backend_model>
                </field>
            </group>
            <group id="duo" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Duo Security</label>
                <field id="integration_key" translate="label comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Integration key</label>
                </field>
                <field id="secret_key" translate="label comment" type="obscure" sortOrder="30" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Secret key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_hostname" translate="label comment" type="text" sortOrder="40" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>API hostname</label>
                    <backend_model>Magento\TwoFactorAuth\Model\Config\Backend\Duo\ApiHostname</backend_model>
                </field>
            </group>

            <group id="authy" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Authy</label>
                <field id="api_key" translate="label comment" type="obscure" sortOrder="20" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>API key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field canRestore="1" id="onetouch_message" translate="label" type="text" sortOrder="40"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>OneTouch Message</label>
                </field>
            </group>
            <group id="u2fkey" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>U2F Key</label>
                <field canRestore="1" id="webapi_challenge_domain" translate="label" type="text" sortOrder="10"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>WebApi Challenge Domain</label>
                    <comment>This domain will be used when issuing and processing WebAuthn challenges via WebApi. The store domain will be used by default.</comment>
                </field>
            </group>
        </section>
    </system>
</config>
