<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Framework\View\Element\ButtonLockManager">
        <arguments>
            <argument name="buttonLockPool" xsi:type="array">
                <item name="contact_us_form_submit" xsi:type="object">Magento\ReCaptchaContact\Model\ButtonLock\ContactUsFormSubmit</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\ReCaptchaContact\Model\ButtonLock\ContactUsFormSubmit" type="Magento\ReCaptchaUi\Model\ButtonLock">
        <arguments>
            <argument name="buttonCode" xsi:type="string">contact_us_form_submit</argument>
            <argument name="reCaptchaId" xsi:type="string">contact</argument>
        </arguments>
    </virtualType>
</config>
