<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ReCaptcha\Api\ValidateInterface" type="Magento\ReCaptcha\Model\Validate"/>

    <!-- Backend Login -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Adminhtml\Login"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Adminhtml\LoginObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Adminhtml\Login</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\AuthenticationExceptionFailure</argument>
        </arguments>
    </virtualType>

    <!-- Backend Forgot password -->
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ForgotPassword"
                 type="Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\SimpleUrlProvider">
        <arguments>
            <argument name="urlPath" xsi:type="string">*/*/forgotpassword</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver"
                 type="Magento\ReCaptcha\Model\Provider\Failure\ObserverRedirectFailure">
        <arguments>
            <argument name="redirectUrlProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\RedirectUrl\ForgotPassword</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Model\Provider\IsCheckRequired\Adminhtml\ForgotPassword"
                 type="Magento\ReCaptcha\Model\IsCheckRequired">
        <arguments>
            <argument name="area" xsi:type="string">adminhtml</argument>
            <argument name="requireRequestParam" xsi:type="string">email</argument>
        </arguments>
    </virtualType>
    <virtualType name="Magento\ReCaptcha\Observer\Adminhtml\ForgotPasswordObserver"
                 type="Magento\ReCaptcha\Observer\ReCaptchaObserver">
        <arguments>
            <argument name="isCheckRequired"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\IsCheckRequired\Adminhtml\ForgotPassword</argument>
            <argument name="failureProvider"
                      xsi:type="object">Magento\ReCaptcha\Model\Provider\Failure\ForgotPasswordObserver</argument>
        </arguments>
    </virtualType>
</config>
