<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="admin__field field-tfa_trusted">
    <input
            id="tfa_trust_device"
            name="tfa_trust_device"
            value="1"
            data-bind='checked: checked'
            type="checkbox"
            class="admin__control-checkbox" />

    <label for="tfa_trust_device">
        <span data-bind="i18n: 'Trust this device, do not ask again'"></span>
    </label>
</div>
