<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Rule grid: START -->
    <virtualType name="Magento\NotifierEvent\Ui\DataProvider\RuleFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="msp_notifier_event_rule_data_source"
                      xsi:type="string">Magento\NotifierEvent\Model\ResourceModel\UI\Rule\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierEvent\Model\ResourceModel\UI\Rule\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">msp_notifier_event_rule</argument>
            <argument name="resourceModel"
                      xsi:type="string">Magento\NotifierEvent\Model\ResourceModel\Rule\Collection</argument>
        </arguments>
    </virtualType>
    <!-- Rule grid: END -->
</config>
