<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Template grid: START -->
    <virtualType name="Magento\NotifierTemplateAdminUi\Ui\DataProvider\DatabaseTemplateFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magento_notifier_template_databasetemplate_data_source"
                      xsi:type="string">Magento\NotifierTemplateAdminUi\Model\ResourceModel\UI\DatabaseTemplate\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierTemplateAdminUi\Model\ResourceModel\UI\DatabaseTemplate\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">magento_notifier_template</argument>
            <argument name="resourceModel"
                      xsi:type="string">Magento\NotifierTemplate\Model\ResourceModel\DatabaseTemplate\Collection</argument>
        </arguments>
    </virtualType>
    <!-- Template grid: END -->
</config>
