<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Magento\NotifierTemplateApi\Model\GetMessageTextInterface"
                type="Magento\NotifierTemplate\Model\GetMessageText"/>
    <preference for="Magento\NotifierTemplateApi\Api\SendMessageInterface" type="Magento\NotifierTemplate\Model\SendMessage"/>
    <preference for="Magento\NotifierTemplate\Model\FilesystemTemplateRepositoryInterface"
                type="Magento\NotifierTemplate\Model\FilesystemTemplateRepository"/>
    <preference for="Magento\NotifierTemplateApi\Model\TemplateGetter\TemplateGetterInterface"
                type="Magento\NotifierTemplate\Model\TemplateGetter\TemplateGetter"/>
    <preference for="Magento\NotifierTemplateApi\Api\Data\DatabaseTemplateInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate"/>
    <preference for="Magento\NotifierTemplateApi\Api\DatabaseTemplateRepositoryInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplateRepository"/>
    <preference for="Magento\NotifierTemplateApi\Api\DatabaseTemplateSearchResultsInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplateSearchResults"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\Get"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\SaveInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\Save"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\DeleteInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\Delete"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetListInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetList"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetByCodeInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetByCode"/>
    <preference for="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetByAdapterCodeInterface"
                type="Magento\NotifierTemplate\Model\DatabaseTemplate\Command\GetByAdapterCode"/>

    <type name="Magento\NotifierTemplate\Model\FilesystemTemplateRepository">
        <arguments>
            <argument name="configReader" xsi:type="object">Magento\NotifierTemplate\Config\Reader</argument>
        </arguments>
    </type>

    <type name="Magento\NotifierTemplate\Model\TemplateGetter\TemplateGetter">
        <arguments>
            <argument name="getters" xsi:type="array">
                <item name="database" sortOrder="100"
                      xsi:type="object">Magento\NotifierTemplate\Model\TemplateGetter\DatabaseTemplateGetter</item>
                <item name="filesystem" sortOrder="200"
                      xsi:type="object">Magento\NotifierTemplate\Model\TemplateGetter\FilesystemTemplateGetter</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\NotifierTemplateApi\Model\VariablesDecorator\DecorateVariables">
        <arguments>
            <argument name="decorators" xsi:type="array">
                <item name="core"
                      xsi:type="object">Magento\NotifierTemplate\Model\VariablesDecorator\CoreVariables</item>
                <item name="admin"
                      xsi:type="object">Magento\NotifierTemplate\Model\VariablesDecorator\AdminVariables</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierTemplate\Config\Reader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="fileName" xsi:type="string">msp_notifier_templates.xml</argument>
            <argument name="converter" xsi:type="object">Magento\NotifierTemplate\Model\Template\Config\Converter</argument>
            <argument name="schemaLocator"
                      xsi:type="object">Magento\NotifierTemplate\Model\Template\Config\SchemaLocator</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/templates/template" xsi:type="string">id</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Template validation chain -->

    <type name="Magento\NotifierTemplateApi\Model\DatabaseTemplate\Validator\ValidateDatabaseTemplate">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="code"
                      xsi:type="object">Magento\NotifierTemplate\Model\DatabaseTemplate\Validator\ValidateCode</item>
                <item name="name"
                      xsi:type="object">Magento\NotifierTemplate\Model\DatabaseTemplate\Validator\ValidateName</item>
                <item name="adapter"
                      xsi:type="object">Magento\NotifierTemplate\Model\DatabaseTemplate\Validator\ValidateAdapter</item>
                <item name="template"
                      xsi:type="object">Magento\NotifierTemplate\Model\DatabaseTemplate\Validator\ValidateTemplate</item>
            </argument>
        </arguments>
    </type>

    <!-- UI components for admin (must be in global area) -->

    <!-- Template grid: START -->
    <virtualType name="Magento\NotifierTemplate\Ui\DataProvider\DatabaseTemplateFilterPool"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext"
                      xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="msp_notifier_template_databasetemplate_data_source"
                      xsi:type="string">Magento\NotifierTemplate\Model\ResourceModel\UI\DatabaseTemplate\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Magento\NotifierTemplate\Model\ResourceModel\UI\DatabaseTemplate\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">msp_notifier_template</argument>
            <argument name="resourceModel"
                      xsi:type="string">Magento\NotifierTemplate\Model\ResourceModel\DatabaseTemplate\Collection</argument>
        </arguments>
    </virtualType>
    <!-- Template grid: END -->
</config>
