<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\ReCaptchaCustomer\Observer\AjaxLoginObserver">
        <arguments>
            <argument name="captchaResponseResolver" xsi:type="object">Magento\ReCaptchaCustomer\Model\AjaxLogin\CaptchaResponseResolver</argument>
        </arguments>
    </type>

    <!-- AjaxLogin Form -->

    <type name="Magento\Customer\Block\Account\AuthenticationPopup">
        <plugin sortOrder="1" name="inject_recaptcha_in_authentication_popup"
                type="Magento\ReCaptchaCustomer\Plugin\Block\Account\InjectRecaptchaInAuthenticationPopup"/>
    </type>

</config>
