<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="recaptcha_backend">
            <group id="type_for">
                <field id="user_login" translate="label" type="select" sortOrder="110" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable for Login</label>
                    <source_model>Magento\ReCaptchaAdminUi\Model\OptionSource\Type</source_model>
                </field>

                <field id="user_forgot_password" translate="label" type="select" sortOrder="120" showInDefault="1"
                       showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enable for Forgot Password</label>
                    <source_model>Magento\ReCaptchaAdminUi\Model\OptionSource\Type</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
