<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <recaptcha_backend>
            <type_invisible>
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <position>inline</position>
                <theme>light</theme>
                <lang/>
                <validation_failure_message>reCAPTCHA verification failed</validation_failure_message>
            </type_invisible>
        </recaptcha_backend>
        <recaptcha_frontend>
            <type_invisible>
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <position>inline</position>
                <theme>light</theme>
                <lang/>
                <validation_failure_message>reCAPTCHA verification failed</validation_failure_message>
            </type_invisible>
        </recaptcha_frontend>
    </default>
</config>
