<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magento_Notifier::notifier"
             title="Notifier"
             translate="title"
             module="Magento_NotifierAdminUi"
             sortOrder="60"
             parent="Magento_Backend::system"
             resource="Magento_Notifier::notifier" />
        <add id="Magento_Notifier::channel"
             title="Manage Channels"
             translate="title"
             module="Magento_NotifierAdminUi"
             action="magento_notifier/channel/index"
             sortOrder="60"
             parent="Magento_Notifier::notifier"
             resource="Magento_Notifier::channel" />
    </menu>
</config>
