<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: getResetProviders().length -->
<div class="tfa-reset-providers">
    <div data-bind="foreach: getResetProviders()">
        <button type="button" class="primary action-remove" data-bind="
            text: $data.label,
            click: $parent.resetProvider
        "></button>
    </div>
</div>
<!-- /ko -->
<!-- ko if: !getResetProviders().length -->
<!-- ko i18n: "Not available" --><!-- /ko -->
<!-- /ko -->
