<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: getTrustedDevices().length -->
<div class="tfa-trusted-devices">
    <div class="tfa-trusted-devices-head">
        <div class="tfa-trusted-devices-last-ip"><!-- ko i18n: "Last IP" --><!-- /ko --></div>
        <div class="tfa-trusted-devices-date"><!-- ko i18n: "Date and time" --><!-- /ko --></div>
        <div class="tfa-trusted-devices-name"><!-- ko i18n: "Description" --><!-- /ko --></div>
        <div class="tfa-trusted-devices-revoke"></div>
    </div>
</div>
<div class="tfa-trusted-devices" data-bind="foreach: getTrustedDevices()">
    <div class="tfa-trusted-devices-row">
        <div class="tfa-trusted-devices-last-ip" data-bind="text: $data.last_ip"></div>
        <div class="tfa-trusted-devices-date" data-bind="text: $data.date_time"></div>
        <div class="tfa-trusted-devices-name" data-bind="text: $data.device_name"></div>
        <div class="tfa-trusted-devices-revoke">
            <button data-bind="click: $parent.revokeDevice" class="action-secondary">
                <!-- ko i18n: "Revoke" --><!-- /ko -->
            </button>
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: !getTrustedDevices().length -->
<!-- ko i18n: "There are no trusted devices for this user" --><!-- /ko -->
<!-- /ko -->
