<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="security" translate="label" sortOrder="200">
            <label>Security</label>
        </tab>

        <section id="recaptcha_backend" translate="label" type="text" sortOrder="600" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <class>separator-top</class>
            <label>Google reCAPTCHA Admin Panel</label>
            <tab>security</tab>
            <resource>Magento_ReCaptchaUi::config</resource>

            <group id="type_for" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="0"
                   showInStore="0">
                <label>Admin Panel</label>
            </group>
        </section>

        <section id="recaptcha_frontend" translate="label" type="text" sortOrder="700" showInDefault="1"
                 showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Google reCAPTCHA Storefront</label>
            <tab>security</tab>
            <resource>Magento_ReCaptchaUi::config</resource>

            <group id="type_for" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Storefront</label>
            </group>
        </section>
    </system>
</config>
