<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\ReCaptcha\Model\CaptchaValidator">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="recaptcha" xsi:type="object">Magento\ReCaptchaVersion2\Model\CaptchaValidator</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\ReCaptchaAdminUi\Model\Config\Source\Type">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="recaptcha_v2" xsi:type="object">Magento\ReCaptchaVersion2\Model\Config\Source\Type\Option</item>
            </argument>
        </arguments>
    </type>
</config>
