<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\ReCaptchaApi\Api\IsInvisibleCaptchaInterface" type="Magento\ReCaptchaApi\Model\IsInvisibleCaptcha"/>

    <type name="Magento\ReCaptchaApi\Model\IsInvisibleCaptcha">
        <arguments>
            <argument name="invisibleTypes" xsi:type="array">
                <item name="invisible" xsi:type="string">invisible</item>
                <item name="recaptcha_v3" xsi:type="string">recaptcha_v3</item>
            </argument>
        </arguments>
    </type>
</config>
